#logo{
    max-width: 20%;
    height: auto;
}
.titulo_nav {
    padding-left: 20px;
    font-size: 2.5vw;
}

.carrou{
    width: auto;
    max-height: auto;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#menu_superior{
    margin-left: 10px;
    margin-right: 10px;
}

.botao_home{
    width: 1010px;
    height: 1000px;
}